.App {
  text-align: center;
}

.App-header {
  background-color: darkslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding-bottom: 42px;
}

.App-icon {
  margin: 0;
  color: #61dafb;
  animation: spin 5s infinite linear;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-bottom: 72px;
}

.link-list {
  flex-direction: unset;
  margin: 24px 0;
}

.flex-row {
  flex-direction: unset;
}

.hidden {
  display: none;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}